<nav id="sidebar" class="sidebar" aria-label="Table of contents">
<div class="sidebar-scrollbox">
    
<a href="/" >
  
    <img width="100%" src="{{site.baseurl}}/images/logo/logo-codeur-academy.png" alt="Codeur Academy">
</a>

<!-- <a 
style="text-align: center;
display: inline-block;
width: 100%;"
href="https://www.udemy.com/course/apprendre-html5-et-css3-par-projets/?referralCode=153108D8498B1B8B3458" target="_blank" class="button button-3d button-large button-rounded button-yellow button-light">

<img style="padding: 10px;
width: 90%;"  src="{{site.baseurl}}/images/formation-en-video.png" alt="devenir-developpeur-web">
</a> -->


<ol class="chapter">
    {%- assign chapter_number = 1 -%}
    {%- assign parts = site.parts | where: "in_book" , true -%}
    {% for part in parts %}

    {%- assign chapters = site.chapters | where: "categories", part.slug | sort: "order"  -%}
   
    {% assign chapters = chapters | concat: site.data.apprendre-html %}

    <li class="chapter-item expanded affix"></li>
    <li class="part-title"> {{part.title}}</li>
        {% for chapter in chapters %}
        {%- if chapter.categories contains part.slug  -%}
    <li class="chapter-item expanded">
        <a href="{{site.baseurl}}{{chapter.url}}" class="{%- if page.url == post.url -%} active {%- endif -%} ">
            <strong aria-hidden="true">{{chapter_number}}.</strong>  
            {%- if chapter.title_in_part -%}
            {{ chapter.title_in_part | escape }}
            {%- else -%}
            {{ chapter.title | escape }}
            {%- endif -%}
        </a>
        {%- if site.toc.enabled -%}
        {%- if page.url == post.url -%}
            {%- include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max -%}
        {%- endif -%}
        {%- endif -%}
    </li>  
    {%- assign chapter_number = chapter_number | plus: 1 -%}  
        {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</ol>
</div>
   <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
</nav>